.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.employee-card {
  margin-bottom: 16px;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

mat-card-title {
  margin-left: 8px;
}